# <font color='Blue'>Дополнительное задание для работы с курсовым проектом:

Скачать данные из соревнования, пока можете работать только с *train.csv*. Считать их.
<ul>
<li>Посчитать основные статистики по каждому признаку (минимальные, максимальные, средние значения). Сделать выводы об адекватности этих статистик.

<li>Посчитать для каждого признака, сколько в нем уникальных значений и как часто они встречаются. Сделать выводы по каждому признаку.

<li>Используя выводы из двух предыдущих заданий, найдите те наблюдения, где есть пропуски, выбросы (неадекватные значения признака, которые отличаются от большинства), используя фильтрацию из pandas.
</ul>

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('train.csv')
df.head()

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price
0,11809,27,3.0,115.027311,NaN,10.0,4,10.0,2014,0.075424,B,B,11,3097,0,NaN,0,0,B,305018.871089
1,3013,22,1.0,39.832524,23.169223,8.0,7,8.0,1966,0.118537,B,B,30,6207,1,1183.0,1,0,B,177734.553407
2,8215,1,3.0,78.342215,47.671972,10.0,2,17.0,1988,0.025609,B,B,33,5261,0,240.0,3,1,B,282078.720850
3,2352,1,1.0,40.409907,NaN,1.0,10,22.0,1977,0.007122,B,B,1,264,0,NaN,0,1,B,168106.007630
4,13866,94,2.0,64.285067,38.562517,9.0,16,16.0,1972,0.282798,B,B,33,8667,2,NaN,0,6,B,343995.102962

Сражу же можно заметить пустые значения в **LifeSquare** и **Healthcare_1**
<br>Заодно посчитаем сколько их.

In [4]:
df_missing_values_count = df.isnull().sum()
df_missing_values_count[df_missing_values_count > 0]

LifeSquare      2113
Healthcare_1    4798
dtype: int64

Почти у половины наблюдений нет признака **Healthcare_1**
<br>И у одной пятой нет признака **LifeSquare**

In [5]:
main_stat = pd.DataFrame([df.min(), df.max(), df.mean(), df.median()])
main_stat.index = ['min', 'max', 'mean', 'median']

# Можно просто df.describe(), но решил следовать тексту задания.

main_stat

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price
min,0.0000,0.0000,0.0000,1.136859,0.370619,0.0000,1.0000,0.0000,1.910000e+03,0.000000,A,A,0.000,168.0000,0.0000,0.00000,0.0000,0.0000,A,59174.778028
max,16798.0000,209.0000,19.0000,641.065193,7480.592129,2014.0000,42.0000,117.0000,2.005201e+07,0.521867,B,B,74.000,19083.0000,141.0000,4849.00000,6.0000,23.0000,B,633233.466570
mean,8383.4077,50.4008,1.8905,56.315775,37.199645,6.2733,8.5267,12.6094,3.990166e+03,0.118858,NaN,NaN,24.687,5352.1574,8.0392,1142.90446,1.3195,4.2313,NaN,214138.857399
median,8394.5000,36.0000,2.0000,52.513310,32.781260,6.0000,7.0000,13.0000,1.977000e+03,0.075424,NaN,NaN,25.000,5285.0000,2.0000,900.00000,1.0000,3.0000,NaN,192269.644879

Видим что у **HouseYear** нечитаемые значения. Меняем их на int.

In [6]:
main_stat['HouseYear'] = main_stat['HouseYear'].astype(int)
main_stat

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price
min,0.0000,0.0000,0.0000,1.136859,0.370619,0.0000,1.0000,0.0000,1910,0.000000,A,A,0.000,168.0000,0.0000,0.00000,0.0000,0.0000,A,59174.778028
max,16798.0000,209.0000,19.0000,641.065193,7480.592129,2014.0000,42.0000,117.0000,20052011,0.521867,B,B,74.000,19083.0000,141.0000,4849.00000,6.0000,23.0000,B,633233.466570
mean,8383.4077,50.4008,1.8905,56.315775,37.199645,6.2733,8.5267,12.6094,3990,0.118858,NaN,NaN,24.687,5352.1574,8.0392,1142.90446,1.3195,4.2313,NaN,214138.857399
median,8394.5000,36.0000,2.0000,52.513310,32.781260,6.0000,7.0000,13.0000,1977,0.075424,NaN,NaN,25.000,5285.0000,2.0000,900.00000,1.0000,3.0000,NaN,192269.644879

В **HouseYear** дом из будущего.
<br>Также видны запредельные значения площадей и комнат, явные выбросы.
<br>Похоже что среди обычных высоток затесался небоскрёб или несколько.
<br>Максимальные значения из количества комнат, социальных показателей, здравоохранения, магазинов - тоже похоже содержат выбросы.
<br>Среди комнат, площади кухни, этажности дома, экологии_1, социальной_1 и 3, здравоохранения и магазинов - встречаются нулевые значения
<br>в Social_3 медиана сильно отличается от среднего значения. Так же как в HouseYear, где явно неадекватные значения.

In [7]:
df.nunique()

Id               10000
DistrictId         205
Rooms                9
Square           10000
LifeSquare        7887
KitchenSquare       58
Floor               33
HouseFloor          44
HouseYear           97
Ecology_1          129
Ecology_2            2
Ecology_3            2
Social_1            51
Social_2           142
Social_3            30
Healthcare_1        79
Helthcare_2          7
Shops_1             16
Shops_2              2
Price            10000
dtype: int64

In [8]:
df['Rooms'].value_counts()

2.0     3880
1.0     3705
3.0     2235
4.0      150
5.0       18
0.0        8
10.0       2
6.0        1
19.0       1
Name: Rooms, dtype: int64

Все значения свыше 5 или равные 0 не выглядят адекватными.

In [11]:
garbage = df[(df['Rooms'] > 5) | (df['Rooms'] == 0)]
garbage

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price
2004,5927,57,10.0,59.056975,36.223072,10.0,22,22.0,2002,0.090799,B,B,74,19083,2,NaN,5,15,B,317265.323792
2194,3159,88,0.0,38.697117,19.345131,9.0,9,16.0,1982,0.127376,B,B,43,8429,3,NaN,3,9,B,158998.110646
2728,14865,9,10.0,60.871266,38.420681,10.0,3,2.0,1994,0.161532,B,B,25,5648,1,30.0,2,4,B,172329.270863
3780,7317,27,0.0,41.790881,NaN,0.0,13,0.0,1977,0.211401,B,B,9,1892,0,NaN,0,1,B,98129.976788
5894,770,28,0.0,49.483501,NaN,0.0,16,0.0,2015,0.118537,B,B,30,6207,1,1183.0,1,0,B,217009.338463
6088,8491,1,19.0,42.006046,21.779288,7.0,17,17.0,2014,0.007122,B,B,1,264,0,NaN,0,1,B,78364.616704
6401,9443,27,0.0,87.762616,85.125471,0.0,5,15.0,1977,0.211401,B,B,9,1892,0,NaN,0,1,B,219281.918007
7644,7917,27,0.0,212.932361,211.231125,0.0,2,3.0,2008,0.211401,B,B,9,1892,0,NaN,0,1,B,302211.260887
7929,456,6,0.0,81.491446,NaN,0.0,4,0.0,1977,0.243205,B,B,5,1564,0,540.0,0,0,B,212864.799112
8794,14003,99,6.0,59.414334,38.702244,6.0,7,9.0,1969,0.033494,B,B,66,10573,1,1322.0,3,8,B,229661.964416
9767,12638,27,0.0,138.427694,136.215499,0.0,4,3.0,2016,0.075424,B,B,11,3097,0,NaN,0,0,B,268394.744389
9869,3224,27,0.0,2.377248,0.873147,0.0,1,0.0,1977,0.017647,B,B,2,469,0,NaN,0,0,B,126596.941798

In [12]:
df['KitchenSquare'].value_counts().sort_index()

0.0        697
1.0       2460
2.0          4
3.0         22
4.0         39
5.0       1169
6.0       1038
7.0        609
8.0       1306
9.0        843
10.0      1075
11.0       233
12.0       249
13.0        67
14.0        51
15.0        31
16.0        16
17.0        12
18.0         6
19.0        11
20.0        14
21.0         1
22.0         3
23.0         1
25.0         2
26.0         1
27.0         1
29.0         1
30.0         2
31.0         1
32.0         2
35.0         1
36.0         1
37.0         2
39.0         1
40.0         1
41.0         2
42.0         1
43.0         2
48.0         1
51.0         2
53.0         1
54.0         1
58.0         2
60.0         1
62.0         1
63.0         1
66.0         1
72.0         1
73.0         1
75.0         1
78.0         1
84.0         1
96.0         1
112.0        2
123.0        1
1970.0       1
2014.0       1
Name: KitchenSquare, dtype: int64

Есть нулевые значения и значения выше 20 встречаются очень редко.

In [13]:
garbage = pd.concat([garbage, df[(df['KitchenSquare'] > 20) | (df['KitchenSquare'] == 0)]])

df['LifeSquare'].value_counts().sort_index()

0.370619       1
0.641822       1
0.795539       1
0.873147       1
1.049867       1
              ..
263.542020     1
410.639749     1
461.463614     1
638.163193     1
7480.592129    1
Name: LifeSquare, Length: 7887, dtype: int64

Похоже нет смысла учитывать слишком маленькие значения и есть одно запредельно высокое.

In [15]:
garbage = pd.concat([garbage, df[df['LifeSquare'] < 2], df[df['LifeSquare'] == df['LifeSquare'].max()]])

df['Floor'].value_counts().sort_index()

1     235
2     588
3     872
4     949
5     876
6     802
7     759
8     643
9     604
10    553
11    457
12    438
13    398
14    362
15    287
16    290
17    256
18    185
19    121
20     68
21     59
22     54
23     25
24     53
25     34
26     18
27      5
28      3
31      1
32      2
33      1
37      1
42      1
Name: Floor, dtype: int64

Разброс значений нормальный, а вот количество после 26го этажа - сильно меньше. Пока не знаю важно ли это.

In [16]:
df['HouseFloor'].value_counts().sort_index()

0.0       269
1.0       497
2.0        48
3.0       127
4.0       134
5.0      1031
6.0        58
7.0        59
8.0       141
9.0      1389
10.0      135
11.0       28
12.0     1074
13.0       27
14.0      625
15.0      123
16.0      576
17.0     2331
18.0       89
19.0      108
20.0      105
21.0       33
22.0      343
23.0       40
24.0      176
25.0      374
26.0        1
27.0        6
28.0        3
29.0        1
30.0       21
31.0        1
32.0        4
36.0        1
37.0        4
38.0        1
39.0        2
40.0        7
44.0        1
45.0        1
47.0        1
48.0        2
99.0        2
117.0       1
Name: HouseFloor, dtype: int64

Есть нулевые значения, думаю их можно будет заменить хотя бы так: 
<br><code>df.loc[df.Floor > df.HouseFloor, 'HouseFloor'] = df.loc[df.Floor > df.HouseFloor, 'Floor']</code>
<br>Всё что выше 48 можно расценить как выбросы.

In [18]:
garbage = pd.concat([garbage, df[df['HouseFloor'] > 48]])
garbage.drop_duplicates()

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price
2004,5927,57,10.0,59.056975,36.223072,10.0,22,22.0,2002,0.090799,B,B,74,19083,2,NaN,5,15,B,317265.323792
2194,3159,88,0.0,38.697117,19.345131,9.0,9,16.0,1982,0.127376,B,B,43,8429,3,NaN,3,9,B,158998.110646
2728,14865,9,10.0,60.871266,38.420681,10.0,3,2.0,1994,0.161532,B,B,25,5648,1,30.0,2,4,B,172329.270863
3780,7317,27,0.0,41.790881,NaN,0.0,13,0.0,1977,0.211401,B,B,9,1892,0,NaN,0,1,B,98129.976788
5894,770,28,0.0,49.483501,NaN,0.0,16,0.0,2015,0.118537,B,B,30,6207,1,1183.0,1,0,B,217009.338463
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9982,10268,27,1.0,36.112393,1.855415,1.0,9,16.0,1977,0.211401,B,B,9,1892,0,NaN,0,1,B,94881.691800
8000,16550,27,3.0,81.694417,7480.592129,1.0,9,17.0,2016,0.017647,B,B,2,469,0,NaN,0,0,B,217357.492366
746,9300,74,2.0,71.747869,74.579809,9.0,5,99.0,1977,0.075779,B,B,6,1437,3,NaN,0,2,B,243329.912579
1678,78,30,2.0,65.773749,66.811789,1.0,8,117.0,1977,0.000078,B,B,22,6398,141,1046.0,3,23,B,207248.370520
4657,10806,5,1.0,51.944587,48.709601,1.0,6,99.0,1977,0.150818,B,B,16,3433,4,2643.0,4,5,B,296127.115515