

Разбейте датасет из train.csv на обучающий и валидационный наборы данных.

Заполните пропущенные значения в датасете медианами или модами.

Переведите строковый признак в числовое представление.

Обучите линейную модель. Посчитайте метрику R2 на двух наборах данных. Сделайте выводы.

Обучите более сложную модель на ваш выбор. Посчитайте метрику R2 на двух наборах данных. Сделайте выводы.

Подберите оптимальные гиперпараметры для вашей модели. Пытайтесь улучшить её качество на двух наборах данных.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline
%config InlineBackend.figure_format = 'svg'

df = pd.read_csv('train.csv')
df.head()

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price
0,11809,27,3.0,115.027311,NaN,10.0,4,10.0,2014,0.075424,B,B,11,3097,0,NaN,0,0,B,305018.871089
1,3013,22,1.0,39.832524,23.169223,8.0,7,8.0,1966,0.118537,B,B,30,6207,1,1183.0,1,0,B,177734.553407
2,8215,1,3.0,78.342215,47.671972,10.0,2,17.0,1988,0.025609,B,B,33,5261,0,240.0,3,1,B,282078.720850
3,2352,1,1.0,40.409907,NaN,1.0,10,22.0,1977,0.007122,B,B,1,264,0,NaN,0,1,B,168106.007630
4,13866,94,2.0,64.285067,38.562517,9.0,16,16.0,1972,0.282798,B,B,33,8667,2,NaN,0,6,B,343995.102962

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             10000 non-null  int64
 1   DistrictId     10000 non-null  int64
 2   Rooms          10000 non-null  float64
 3   Square         10000 non-null  float64
 4   LifeSquare     7887 non-null   float64
 5   KitchenSquare  10000 non-null  float64
 6   Floor          10000 non-null  int64
 7   HouseFloor     10000 non-null  float64
 8   HouseYear      10000 non-null  int64
 9   Ecology_1      10000 non-null  float64
 10  Ecology_2      10000 non-null  object
 11  Ecology_3      10000 non-null  object
 12  Social_1       10000 non-null  int64
 13  Social_2       10000 non-null  int64
 14  Social_3       10000 non-null  int64
 15  Healthcare_1   5202 non-null   float64
 16  Helthcare_2    10000 non-null  int64
 17  Shops_1        10000 non-null  int64
 18  Shops_2        10000 non-null  object
 19  Price          10000 non-null  float64
dtypes: float64(8), int64(9), object(3)
memory usage: 1.5+ MB

In [3]:
df.fillna(df.median(), inplace=True)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             10000 non-null  int64
 1   DistrictId     10000 non-null  int64
 2   Rooms          10000 non-null  float64
 3   Square         10000 non-null  float64
 4   LifeSquare     10000 non-null  float64
 5   KitchenSquare  10000 non-null  float64
 6   Floor          10000 non-null  int64
 7   HouseFloor     10000 non-null  float64
 8   HouseYear      10000 non-null  int64
 9   Ecology_1      10000 non-null  float64
 10  Ecology_2      10000 non-null  object
 11  Ecology_3      10000 non-null  object
 12  Social_1       10000 non-null  int64
 13  Social_2       10000 non-null  int64
 14  Social_3       10000 non-null  int64
 15  Healthcare_1   10000 non-null  float64
 16  Helthcare_2    10000 non-null  int64
 17  Shops_1        10000 non-null  int64
 18  Shops_2        10000 non-null  object
 19  Price          10000 non-null  float64
dtypes: float64(8), int64(9), object(3)
memory usage: 1.5+ MB

In [5]:
df = pd.get_dummies(df)

In [6]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score

lr = LinearRegression()

x = df.drop('Price', axis=1)
y = df['Price']

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state=5)

In [7]:
lr.fit(x_train, y_train)

LinearRegression()

In [8]:
y_pred = lr.predict(x_test)

In [9]:
pd.DataFrame({'price': y_test, 'predicted': y_pred})

              price      predicted
7054  214545.600135  200432.428082
442   142777.633972  203121.402830
3954  168154.881275  195771.905141
2288  184626.490168  217840.105688
3196  135353.885620  118971.952320
...             ...            ...
709   244045.718401  297430.452338
1075  172761.407524  187941.836655
8244  333466.614747  307742.134345
5542  266008.977451  276677.011606
2584  188088.052549  196499.520361

[2500 rows x 2 columns]

In [10]:
r2_score(y_test, y_pred)

0.5304677505031783

In [11]:
y_pred_train = lr.predict(x_train)

In [12]:
r2_score(y_train, y_pred_train)

0.47541050747660085

Модель не переобучена, но результат плохой.

In [13]:
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor(random_state=0)

In [14]:
model.fit(x_train, y_train.values)

RandomForestRegressor(random_state=0)

In [15]:
y_pred = model.predict(x_test)
y_pred

array([193390.62389767, 155754.2017907 , 191493.41265998, ...,
       325834.27098312, 283751.38215661, 156526.21325766])

In [16]:
r2_score(y_test, y_pred)

0.7420791338186485

In [17]:
y_pred_train = model.predict(x_train)
r2_score(y_train, y_pred_train)

0.9605291073990374

Метрика гораздо лучше, чем у линейной модели. Показатель на обучающей выборке очень высокий, но вроде для случайного леса это нормально.

In [18]:
from sklearn.model_selection import GridSearchCV

params = [{'min_samples_leaf': np.arange(1, 6),
           'max_features': [3, 4, 5, 'auto']}]

In [19]:
model = GridSearchCV(estimator=RandomForestRegressor(random_state=0, n_jobs=-1),
                     param_grid=params, scoring='r2', cv=3)

model.fit(x_train, y_train)

In [20]:
model.fit(x_train, y_train)

GridSearchCV(cv=3, estimator=RandomForestRegressor(n_jobs=-1, random_state=0),
             param_grid=[{'max_features': [3, 4, 5, 'auto'],
                          'min_samples_leaf': array([1, 2, 3, 4, 5])}],
             scoring='r2')

In [21]:
model.best_params_

{'max_features': 5, 'min_samples_leaf': 1}

In [22]:
y_pred = model.predict(x_test)
r2_score(y_test, y_pred)

0.75813482130906